.scanner {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--indigo);
  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.options {
  width: 120px;
  max-height: 100%;
  position: absolute;
  z-index: 100;
  transform: translate(50%, -50%);
  color: white;

  display: grid;
  place-items: center;
}

.options ul {
  border-radius: 4px;
  width: 100%;
  background-color: rgb(30, 30, 30);
  display: grid;
  place-items: center;
}

.option {
  display: grid;
  place-items: center;
  padding: 10px 0;
  width: 100%;
}

.options ul :not(:last-child) {
  border-bottom: 1px solid rgb(210, 210, 210);
}

.option:hover {
  background-color: rgb(60, 60, 60);
  transition: 0.25s;
}

.option:not(:hover) {
  transition: 0.25s;
}