.timer,
.char-list {
  position: fixed;
  top: 12vh;
  right: 1vw;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  padding: 10px 30px;
  border-radius: 6px;
}

.timer {
  font-family: monospace;
}

.char-list {
  font-size: 1rem;
  right: auto;
  left: 1vw;
}

.char-list li {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.char-list img {
  height: 24px;
  width: 24px;
  border-radius: 8px;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 30px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: 10s ease-in;
}

.alert h2 {
  margin: 0;
  font-size: 3.5rem;
}

.alert button {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.strikethrough {
  text-decoration: line-through;
}

.card img {
  height: 100px;
  width: 100px;
}